node_modules
.venv
.git
.gitignore
.env
.env.*
bin/*.exe
bin/*.zip
uploads/*
!uploads/.gitkeep
exports/*
!exports/.gitkeep
temp/*
!temp/.gitkeep
*.log
npm-debug.log*
.DS_Store
Thumbs.db
tests
scratch
clip-app
